### DataFrames - Part 3

In [1]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2'] #list
inside = [1,2,3,1,2,3] #list
hier_index = list(zip(outside, inside)) #make list of tuple
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
type(list(zip(outside, inside)))

list

In [6]:
type(hier_index)

pandas.core.indexes.multi.MultiIndex

In [13]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [14]:
df #multi level index hier key

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

In [15]:
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [16]:
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

In [17]:
df.index.names

FrozenList([None, None])

In [18]:
#set name for indexes
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

In [22]:
df.loc['G2'].loc[2]['B']

1.693722925204035

In [23]:
df.loc['G1'].loc[3]['A']

0.19079432237171562

In [24]:
#CROSS SECTION (for multi level index)
df.xs('G1')

            A         B
Num
1    0.188695 -0.758872
2   -0.933237  0.955057
3    0.190794  1.978757

In [25]:
#if we want to grab all labeled named 1 with cross section
df.xs(1,level='Num')

               A         B
Groups
G1      0.188695 -0.758872
G2      2.605967  0.683509