# PYTHON FOR DATA SCIENCE BOOTCAMP NOTES

## Introduction

### Installation

conda install pandas

pip install pandas

### What we will learn

✺ Series

✺ DataFrames

✺ Missing Data

✺ GroupBy

✺ Merging, Joining, and Concatenating

✺ Operations

✺ Data Input and Output

### 1. Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
labels # what labels is

['a', 'b', 'c']

In [4]:
my_data = [10, 20, 30]
my_data

[10, 20, 30]

In [5]:
arr = np.array(my_data) # creating numpy array
arr

array([10, 20, 30])

In [6]:
d = {'a': 10, 'b': 20, 'c': 300}
d

{'a': 10, 'b': 20, 'c': 300}

In [7]:
#Create a series
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
#Create a series with specified labels
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
#We can directly input parameters with the righ order parameters (shift + tab to check it=> data, index, dtype, name ,...)
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
#You can pass a data with numpy array (variable named arr)
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
#You can pass a dictionary, this take key as an index of series and set value as corresponding data points
pd.Series(d)

a     10
b     20
c    300
dtype: int64

In [12]:
# A series can take hold any data types like int, string, even function/method
pd.Series(data=[len, sum, print])

0      <built-in function len>
1      <built-in function sum>
2    <built-in function print>
dtype: object

In [13]:
#Example how we can grab information from series

ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
#Grab Information like grab the value from dictionary keys
ser1['USA']

1

In [16]:
ser3 = pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [17]:
ser3[0]

'a'

In [18]:
ser1 + ser2 #we can do calculation with match indexes
#integer converted to float
#null value converted to NaN

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64