### 2. Data Frames

Data frames is Building of the series object

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [6]:
# Set Seed to get same random numbers
np.random.seed(101) #for more info https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.seed.html

In [7]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [9]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df['W'] #grab series from column name

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
#check if df['W'] is series
type(df['W'])

pandas.core.series.Series

In [13]:
#type of df
type(df)

pandas.core.frame.DataFrame

In [25]:
df.W #also work, but not recommended because 
#potential overwrite the df method by column name

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [26]:
# to grab multiple column, pass an array of colum name
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [27]:
#creating new column, just assiggn it
df['new'] = df['W'] + df['Y']

In [29]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [30]:
#for droping column, you will get an error, 
#because axis parameter by default is 0
# axis 0 is refer to index, not column, you need to specify axis = 1
df.drop('new')

KeyError: "['new'] not found in axis"

In [31]:
#specify axis = 1 for column
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
# the drop method does not affect your data frame
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [33]:
#if you want to affect use inplace equal to True for the parameter
df.drop('new', axis=1, inplace=True)

In [34]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [35]:
# we can also drop rows, for example
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [37]:
df.shape #check dimention of matrix
#you can see (5,4), means(x, y), so axis = 0 is for rows and axis = 1 for columns

(5, 4)

In [38]:
# selecting columns
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [39]:
#selecting rows, for example A
#first way
df.loc['A'] #will return series

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [41]:
#2nd way input index position
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [42]:
# select inside row 
df.loc['B', 'Y']

-0.8480769834036315

In [43]:
#you can also grab subset
df.loc[['A', 'B'], ['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077